#编译目录与IDE配置文件
/target
/bin
/bin/
/target/
/test-output
/src/main/webapp/WEB-INF/classes/
.idea
.idea/
*.iml
.classpath
.project
.settings
.mymetadata
.DS_Store
*.class
rebel.xml
.externalToolBuilders
*.sublime-workspace
*.sublime-project
mcss.json
online-war/test-output/*
/logs/
/log.dir_IS_UNDEFINED/
/disconf/*
resolvedPom.xml
*/resolvedPom.xml

#工程中的配置
/online-war/src/main/TEMP_FILES
/online-war/src/main/webapp/WEB-INF/lib
/online-war/src/main/webapp/WEB-INF/classes
/online-war/target
/online-api/target
/online-war/src/main/webapp/META-INF
/kaola-mykaola-generic/target/
/kaola-mykaolams-provider/target/
